
<div class="row">
  <form method="POST" [formGroup]="formSignIn" class="col s12 m6 offset-m3" autocomplete="off" >
      <div class="row">
          <div >
            <mat-form-field class="example-full-width">
              <input matInput formControlName="email" placeholder="Correo electrónico" type="email" #userName required>
            </mat-form-field>
            <div *ngIf="formSignIn.get('email').errors && formSignIn.get('email').dirty">
              <p class="red-text"  *ngIf="formSignIn.get('email').hasError('required')">Por favor ingrese su correo electrónico</p>
              <p class="red-text"  *ngIf="formSignIn.get('email').hasError('email')">Siga la estructura de un correo electrónico, ejemplo: example@example.com</p>
            </div>
          </div>

      </div>

      <div class="row">
          <div class="input-field col s12 m12">
            <mat-form-field>
              <input matInput formControlName="password" placeholder="Contraseña" type="password" #userPassword required>
            </mat-form-field>
            <div *ngIf="formSignIn.get('password').errors && formSignIn.get('password').dirty">
                <p class="red-text" *ngIf="formSignIn.get('password').hasError('required')">Por favor ingrese su contraseña</p>
            </div>
          </div>
      </div>
      <button mat-button [disabled]="formSignIn.invalid" class="blue" type="submit" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)">Iniciar sesión</button>
  </form>
  <div class="col s12 m6 offset-m3">
      <div class="card-panel teal lighten-5">
          <span class="black-text">¿No estás registrado? Házlo ahora <a routerLink="/register-user">Registrarse</a> </span>
      </div>
  </div>
