<nav class="nav-extended">
  <div class="nav-background ">
      <div class="pattern active backgroud-img-nav"></div>
  </div>
  <div class="nav-wrapper">
    <ul class="left">
        <li data-target="slide-out" class="sidenav-trigger"><a><i class="material-icons">menu</i></a></li>
    </ul>
    <a class="brand-logo center">SEINEREE</a>
  </div>
</nav>

<ul id="slide-out" class="sidenav row">
  <li>
      <div class="user-view">
        <a><span class="black-text name">{{ userInfo.primerN }} {{ userInfo.segundoN }} <br> {{ userInfo.primerA }} {{ userInfo.segundoA }} </span></a>
        <a><span class="black-text email">{{ userInfo.email }}</span></a>
    </div>
  </li>
  <li class="cursor-pointer"><a class="black-text col s12" (click)="viewChangeIndex()"><i class="black-text material-icons">home</i>Inicio</a></li>
  <li class="cursor-pointer"><a class="black-text col s12" (click)="viewChangePerfil()"><i class="black-text material-icons">assignment_ind</i>Perfil</a></li>

  <mat-menu #proSolarMenu="matMenu" horizontalAlign="center" forceAlignment class="row menu-drop">
    <a mat-menu-item class="teal-text text-darken-2 sidenav-close col s12" (click)="viewChangeProSolar(0)">
      <mat-icon class="teal-text text-darken-2 material-icons">show_chart</mat-icon>
      <span>Tiempo Real</span>
    </a>
    <a mat-menu-item class="teal-text text-darken-2 sidenav-close col s12" (click)="viewChangeProSolar(1)">
      <mat-icon class="teal-text text-darken-2 material-icons">multiline_chart</mat-icon>
      <span>Consulta por día</span>
    </a>

    <a mat-menu-item class="teal-text text-darken-2 sidenav-close col s12" (click)="viewChangeProSolar(2)">
      <mat-icon class="teal-text text-darken-2 material-icons">insert_chart</mat-icon>
      <span>Consulta por semana</span>
    </a>
    <a mat-menu-item class="teal-text text-darken-2 sidenav-close col s12" (click)="viewChangeProSolar(3)">
      <mat-icon class="teal-text text-darken-2 material-icons">insert_chart</mat-icon>
      <span>Consulta por mes</span>
    </a>

    <a mat-menu-item class="teal-text text-darken-2 sidenav-close col s12" (click)="viewChangeProSolar(4)">
      <mat-icon class="teal-text text-darken-2 material-icons">pie_chart</mat-icon>
      <span>Resumen</span>
    </a>
  </mat-menu>


  <li class="cursor-pointer">
    <a class="col s12" class='teal-text text-darken-2 col s12 text-left'  [matMenuTriggerFor]="proSolarMenu">
      <i class="teal-text text-darken-2 material-icons">arrow_drop_down</i>ProSolar-CTPI
    </a>
  </li>

  <mat-menu #menuEEnergias="matMenu" horizontalAlign="center" forceAlignment class="row menu-drop">
    <a mat-menu-item class="orange-text text-darken-4 sidenav-close col s12" (click)="viewChangeEenergias(0)">
      <mat-icon class="orange-text text-darken-4 material-icons">show_chart</mat-icon>
      <span>Tiempo Real</span>
    </a>
    <a mat-menu-item class="orange-text text-darken-4 sidenav-close col s12" (click)="viewChangeEenergias(1)">
      <mat-icon class="orange-text text-darken-4 material-icons">multiline_chart</mat-icon>
      <span>Consulta por día</span>
    </a>

    <a mat-menu-item class="orange-text text-darken-4 sidenav-close col s12" (click)="viewChangeEenergias(2)">
      <mat-icon class="orange-text text-darken-4 material-icons">insert_chart</mat-icon>
      <span>Consulta por semana</span>
    </a>
    <a mat-menu-item class="orange-text text-darken-4 sidenav-close col s12" (click)="viewChangeEenergias(3)">
      <mat-icon class="orange-text text-darken-4 material-icons">insert_chart</mat-icon>
      <span>Consulta por mes</span>
    </a>

    <a mat-menu-item class="orange-text text-darken-4 sidenav-close col s12" (click)="viewChangeEenergias(4)">
      <mat-icon class="orange-text text-darken-4 material-icons">pie_chart</mat-icon>
      <span>Resumen</span>
    </a>
  </mat-menu>


  <li class="cursor-pointer">
    <a class="col s12" class='orange-text text-darken-4 col s12 text-left'  [matMenuTriggerFor]="menuEEnergias">
      <i class="orange-text text-darken-4 material-icons">arrow_drop_down</i>EEnergias
    </a>
  </li>

  <li class="cursor-pointer"><a class="col s12 black-text sidenav-close" *ngIf="admin" (click)="viewChageRoles()"><i class="black-text material-icons">https</i>Cambiar roles</a></li>

  <li class="cursor-pointer"><a class="col s12 black-text sidenav-close" *ngIf="admin" (click)="viewChageProyectos()"><i class="black-text material-icons">update</i>Proyectos</a></li>

  <li class="cursor-pointer"><a class="col s12 black-text sidenav-close" *ngIf="admin" (click)="viewChageNovedades()"><i class="black-text material-icons">update</i>Novedades</a></li>

  <li class="cursor-pointer"><a class="col s12 black-text sidenav-close" *ngIf="admin" (click)="viewChageSemillero()"><i class="black-text material-icons">update</i>Semillero de investigación</a></li>

  <li class="cursor-pointer"><a class="col s12 black-text sidenav-close" (click)="authservice.SignOut()"><i class="black-text material-icons">arrow_back</i>Cerrar sesión</a></li>

</ul>


<ul id='dropdown2' class='dropdown-content'>
  <li><a class="orange-text text-darken-4 sidenav-close" (click)="viewChangeEenergias(0)"><i class="orange-text text-darken-4 material-icons">show_chart</i>Tiempo Real</a></li>
  <li class="divider" tabindex="-1"></li>
  <li><a class="orange-text text-darken-4 sidenav-close" (click)="viewChangeEenergias(1)"><i class="orange-text text-darken-4 material-icons">multiline_chart</i>Consulta por día</a></li>
  <li><a class="orange-text text-darken-4 sidenav-close" (click)="viewChangeEenergias(2)"><i class="orange-text text-darken-4 material-icons">insert_chart</i>Consulta por semana</a></li>
  <li><a class="orange-text text-darken-4 sidenav-close" (click)="viewChangeEenergias(3)"><i class="orange-text text-darken-4 material-icons">insert_chart</i>Consulta por mes</a></li>
  <li><a class="orange-text text-darken-4 sidenav-close" (click)="viewChangeEenergias(4)"><i class="orange-text text-darken-4 material-icons">pie_chart</i>Resumen</a></li>
</ul>




<!--
<app-real-time-chart *ngIf="viewChart === 0;"></app-real-time-chart>
<app-query-for-day-pro-solar *ngIf="viewChart === 1;"></app-query-for-day-pro-solar>
<app-query-for-week *ngIf="viewChart === 2;"></app-query-for-week>
<app-query-for-month *ngIf="viewChart === 3;"></app-query-for-month>
<app-resumen-pro-solar *ngIf="viewChart === 4;"></app-resumen-pro-solar>

<app-real-time-eenergias *ngIf="viewChart === 5;"></app-real-time-eenergias>
<app-query-for-day-ee *ngIf="viewChart === 6;"></app-query-for-day-ee>
<app-query-for-week-ee *ngIf="viewChart === 7;"></app-query-for-week-ee>
<app-query-for-month-ee *ngIf="viewChart === 8;"></app-query-for-month-ee>
<app-resumen-eenergias-tarjeta1 *ngIf="viewChart === 9;"></app-resumen-eenergias-tarjeta1>

-->
