<nav>
  <div class="nav-wrapper teal lighten-2">

    <ul class="left">
        <li data-target="slide-out" class="sidenav"><a><i class="material-icons">menu</i></a></li>
    </ul>
    <a class="brand-logo center">Innovatec</a>
  </div>
</nav>

<ul id="slide-out" class="sidenav">
  <li>
      <div class="user-view">
      <div class="background">
          <a><i class="material-icons circle">home</i></a>
      </div>
      <a><i class="material-icons circle">person</i></a>
      <a><span class="black-text name">Innovatec</span></a>
      <a><span class="black-text email"></span></a>
    </div>
  </li>
  <li><a class="black-text" (click)="viewChangeIndex()"><i class="black-text material-icons">home</i>Página Principal</a></li>
  <li><div class="divider"></div></li>
  <li><a class='teal-text text-darken-2 dropdown-trigger text-left'  data-target='dropdown1'><i class="teal-text text-darken-2 material-icons">arrow_drop_down</i>ProSolar-CTPI</a></li>
  <li><a class='orange-text text-darken-4 dropdown-trigger text-left' data-target='dropdown2'><i class="orange-text text-darken-4 material-icons">arrow_drop_down</i>EEnergias</a></li>
  <li><a class="black-text sidenav-close" (click)="authservice.SignOut()"><i></i>Cerrar sesión</a></li>
</ul>

<ul id='dropdown1' class='dropdown-content'>
  <li><a class="teal-text text-darken-2 sidenav-close" (click)="viewChangeProSolar(0)"><i class="teal-text text-darken-2 material-icons">show_chart</i>Tiempo Real</a></li>
  <li class="divider" tabindex="-1"></li>
  <li><a class="teal-text text-darken-2 sidenav-close" (click)="viewChangeProSolar(1)"><i class="teal-text text-darken-2 material-icons">multiline_chart</i>Consulta por día</a></li>
  <li><a class="teal-text text-darken-2 sidenav-close" (click)="viewChangeProSolar(2)"><i class="teal-text text-darken-2 material-icons">insert_chart</i>Consulta por semana</a></li>
  <li><a class="teal-text text-darken-2 sidenav-close" (click)="viewChangeProSolar(3)"><i class="teal-text text-darken-2 material-icons">insert_chart</i>Consulta por mes</a></li>
  <li><a class="teal-text text-darken-2 sidenav-close" (click)="viewChangeProSolar(4)"><i class="teal-text text-darken-2 material-icons">pie_chart</i>Resumen</a></li>
</ul>

<ul id='dropdown2' class='dropdown-content'>
  <li><a class="orange-text text-darken-4 sidenav-close" (click)="viewChangeEenergias(0)"><i class="orange-text text-darken-4 material-icons">show_chart</i>Tiempo Real</a></li>
  <li class="divider" tabindex="-1"></li>
  <li><a class="orange-text text-darken-4 sidenav-close" (click)="viewChangeEenergias(1)"><i class="orange-text text-darken-4 material-icons">multiline_chart</i>Consulta por día</a></li>
  <li><a class="orange-text text-darken-4 sidenav-close" (click)="viewChangeEenergias(2)"><i class="orange-text text-darken-4 material-icons">insert_chart</i>Consulta por semana</a></li>
  <li><a class="orange-text text-darken-4 sidenav-close" (click)="viewChangeEenergias(3)"><i class="orange-text text-darken-4 material-icons">insert_chart</i>Consulta por mes</a></li>
  <li><a class="orange-text text-darken-4 sidenav-close" (click)="viewChangeEenergias(4)"><i class="orange-text text-darken-4 material-icons">pie_chart</i>Resumen</a></li>
</ul>


<!--
<app-real-time-chart *ngIf="viewChart === 0;"></app-real-time-chart>
<app-query-for-day-pro-solar *ngIf="viewChart === 1;"></app-query-for-day-pro-solar>
<app-query-for-week *ngIf="viewChart === 2;"></app-query-for-week>
<app-query-for-month *ngIf="viewChart === 3;"></app-query-for-month>
<app-resumen-pro-solar *ngIf="viewChart === 4;"></app-resumen-pro-solar>

<app-real-time-eenergias *ngIf="viewChart === 5;"></app-real-time-eenergias>
<app-query-for-day-ee *ngIf="viewChart === 6;"></app-query-for-day-ee>
<app-query-for-week-ee *ngIf="viewChart === 7;"></app-query-for-week-ee>
<app-query-for-month-ee *ngIf="viewChart === 8;"></app-query-for-month-ee>
<app-resumen-eenergias-tarjeta1 *ngIf="viewChart === 9;"></app-resumen-eenergias-tarjeta1>

-->
