<app-panel-de-control></app-panel-de-control>
<div class="row">
  <div class="col m4 s12">
    <div style="display: block;"  >
      <canvas baseChart
        height="360"
        [datasets]="lineChartData1"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors1"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins">
      </canvas>
    </div>
  </div>

  <div class="col m4 s12">
    <div style="display: block;"  >
      <canvas baseChart
        height="360"
        [datasets]="lineChartData2"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors2"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins">
      </canvas>
    </div>
  </div>

  <div class="col m4 s12">
    <div style="display: block;"  >
      <canvas baseChart
        height="360"
        [datasets]="lineChartData3"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors3"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins">
      </canvas>
    </div>
  </div>

  <div class="col m4 s12">
    <div style="display: block;"  >
      <canvas baseChart
        height="360"
        [datasets]="lineChartData4"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors4"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins">
      </canvas>
    </div>
  </div>

  <div class="col m4 s12">
    <div style="display: block;"  >
      <canvas baseChart
        height="360"
        [datasets]="lineChartData5"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors5"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins">
      </canvas>
    </div>
  </div>

  <div class="col m4 s12">
    <div style="display: block;"  >
      <canvas baseChart
        height="360"
        [datasets]="lineChartData6"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors6"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins">
      </canvas>
    </div>
  </div>
</div>
