@import '~@angular/material/theming';
@import '~swiper/dist/css/swiper.min.css';
@include mat-core();

$custom-theme-primary: mat-palette($mat-teal);
$custom-theme-accent: mat-palette($mat-orange, A200, A100, A400);
$custom-theme-warn: mat-palette($mat-teal);
$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

@include angular-material-theme($custom-theme);

.blue-snackbar {
  background: #2196F3;
  color: aliceblue !important;
  .mat-simple-snackbar-action {
    color: aliceblue !important;
  }

}

.green-snackbar {
  background-color: #00C853;
  color: aliceblue !important;
  .mat-simple-snackbar-action {
    color: aliceblue !important;
  }

}

.yellow-snackbar {
  background-color: rgb(202, 165, 0);
  color: aliceblue !important;
  .mat-simple-snackbar-action {
    color: aliceblue !important;
  }

}

.red-snackbar {
  background-color: #F44336;
  color: aliceblue !important;
  .mat-simple-snackbar-action {
    color: aliceblue !important;
  }
}

.backgroud-img-nav {
  background-image: url("./assets/img/renewable-1989416_1280.jpg");
  background-size: cover;
  background-position: center;
}

.logo-seineree{
  background-image: url("./assets/img/logo01.png");
  background-size: cover;
  background-position: center;
  width: 72px;
  height: 72px;
  filter: hue-rotate(0deg) brightness(0%) saturate(0%) invert(1);

}

.logo-sena{
  background-image: url("./assets/img/icono-sena.png");
  background-size: cover;
  background-position: center;
  width: 64px;
  height: 64px;
  filter: invert(1);

}


