<footer class="page-footer grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col m3 s12">
        <ul>
          <li class="collapsible-header grey darken-4 no-cursor"><h5>Páginas</h5></li>
          <a href="http://www.sena.edu.co/es-co/Paginas/default.aspx" target="_blank" class="white-text">
            <div matRipple [matRippleColor]="color" class="collapsible-header grey darken-4"><i class="material-icons">launch</i>Sena</div>
          </a>
          <a href="http://www.sena.edu.co/es-co/Paginas/default.aspx" target="_blank" class="white-text">
            <div matRipple [matRippleColor]="color" class="collapsible-header grey darken-4"><i class="material-icons">launch</i>Sena Regional</div>
          </a>
          <a href="https://ctpisenacauca.blogspot.com/" target="_blank" class="white-text">
            <div matRipple [matRippleColor]="color" class="collapsible-header grey darken-4"><i class="material-icons">launch</i>CTPI Cauca</div>
          </a>
          <a href="http://www.sena.edu.co/es-co/formacion/Paginas/tecnologia-innovacion.aspx" target="_blank" class="white-text">
            <div matRipple [matRippleColor]="color" class="collapsible-header grey darken-4"><i class="material-icons">launch</i>Sennova</div>
          </a>

        </ul>
      </div>

      <div class="col m3 offset-m1 s12">
        <ul>
          <li class="collapsible-header grey darken-4 no-cursor"><h5>Conocenos</h5></li>
          <div matRipple [matRippleColor]="color" class="collapsible-header grey darken-4"><i class="material-icons">alternate_email</i>Contáctanos</div>

        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright grey darken-2">
    <div class="container">
      © {{ fechaActual | date:'yyyy' }} Copyright Innovatec-CTPI
    </div>
  </div>
</footer>
