<div>
  <div class="consulta center row">
      <div class="col m6 s12 input-container">
        <mat-form-field id="datePicker" >
            <input matInput #datePicker [matDatepicker]="picker" ng-readonly="false" placeholder="Seleccione la fecha a graficar">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <button id="btn-graficar" mat-raised-button color="primary" (click)="queryWeek()" >Graficar</button>
      </div>
      <div class="col m5 s12 input-container">
        <mat-form-field class="input-select" id="selector">
          <mat-label>Gráficas</mat-label>
          <mat-select color="primary">
            <mat-option  *ngFor="let c of modos" [value]="c" (click)="mostrarCharts(c)">{{ c }}</mat-option>
          </mat-select >
        </mat-form-field>
        <button id="btn-exp" mat-raised-button color="primary" [disabled]="!deteccion" (click)="exportar()">Exportar</button>
      </div>
    </div>
  <div class="row">
    <div *ngIf="chartsEnables[0];" [ngClass]="{'offset-m3': !chartsEnables[1]}" class="col m6 s12 chart">
      <div style="display: block;">
        <canvas baseChart
          height="300"
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
        </canvas>
      </div>
      <div class="center">
        <button class="btn-change" mat-raised-button id="btn-humedad" (click)="cambioDeChart(0)">
          Humedad
        </button>
        <button class="btn-change" mat-raised-button id="btn-temperatura" (click)="cambioDeChart(1)">
          Temperatura
        </button>
        <button class="btn-change"  mat-raised-button id="btn-irradiancia" (click)="cambioDeChart(2)">
          Irradiancia
        </button>

        <button class="flow-text btn-change" mat-raised-button id="btn-corriente" (click)="cambioDeChart(3)">
          Corriente
        </button>

        <button class="flow-text btn-change" mat-raised-button id="btn-voltaje" (click)="cambioDeChart(4)">
          Voltaje
        </button>
      </div>
    </div>

    <div *ngIf="chartsEnables[1]" class="col m6 s12 chart">
      <div style="display: block;">
        <canvas baseChart
          height="300"
          [datasets]="barChartData1"
          [labels]="barChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors1"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
        </canvas>
      </div>
      <div class="center">
        <button class="btn-change" mat-raised-button id="btn-humedad" (click)="cambioDeChart1(0)">
          Humedad
        </button>
        <button class="btn-change" mat-raised-button id="btn-temperatura" (click)="cambioDeChart1(1)">
          Temperatura
        </button>
        <button class="btn-change"  mat-raised-button id="btn-irradiancia" (click)="cambioDeChart1(2)">
          Irradiancia
        </button>

        <button class="flow-text btn-change" mat-raised-button id="btn-corriente" (click)="cambioDeChart1(3)">
          Corriente
        </button>

        <button class="flow-text btn-change" mat-raised-button id="btn-voltaje" (click)="cambioDeChart1(4)">
          Voltaje
        </button>
      </div>
    </div>

    <div *ngIf="chartsEnables[2]" class="col m6 s12 chart">
      <div style="display: block;">
        <canvas baseChart
          height="300"
          [datasets]="barChartData2"
          [labels]="barChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors2"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
        </canvas>
      </div>
      <div class="center">
        <button class="btn-change" mat-raised-button id="btn-humedad" (click)="cambioDeChart2(0)">
          Humedad
        </button>
        <button class="btn-change" mat-raised-button id="btn-temperatura" (click)="cambioDeChart2(1)">
          Temperatura
        </button>
        <button class="btn-change"  mat-raised-button id="btn-irradiancia" (click)="cambioDeChart2(2)">
          Irradiancia
        </button>

        <button class="flow-text btn-change" mat-raised-button id="btn-corriente" (click)="cambioDeChart2(3)">
          Corriente
        </button>

        <button class="flow-text btn-change" mat-raised-button id="btn-voltaje" (click)="cambioDeChart2(4)">
          Voltaje
        </button>
      </div>
    </div>


    <div *ngIf="chartsEnables[3]" class="col m6 s12 chart">
      <div style="display: block;">
        <canvas baseChart
          height="300"
          [datasets]="barChartData3"
          [labels]="barChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors3"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
        </canvas>
      </div>
      <div class="center">
        <button class="btn-change" mat-raised-button id="btn-humedad" (click)="cambioDeChart3(0)">
          Humedad
        </button>
        <button class="btn-change" mat-raised-button id="btn-temperatura" (click)="cambioDeChart3(1)">
          Temperatura
        </button>
        <button class="btn-change"  mat-raised-button id="btn-irradiancia" (click)="cambioDeChart3(2)">
          Irradiancia
        </button>

        <button class="flow-text btn-change" mat-raised-button id="btn-corriente" (click)="cambioDeChart3(3)">
          Corriente
        </button>

        <button class="flow-text btn-change" mat-raised-button id="btn-voltaje" (click)="cambioDeChart3(4)">
          Voltaje
        </button>
      </div>
    </div>
  </div>
</div>

