<div id="contenido">
  <span>A su correo le llegará un link el cual le permitirá reestablecer su contraseña</span>
  <span>Por favor complete el campo y oprima ACEPTAR para que se envie el correo de reestablecer contraseña</span>
  <form class="row" id="form2" method="POST" [formGroup]="formForgotPassword" (ngSubmit)="onSubmit()" autocomplete="off" >
    <div class="input">
      <mat-form-field>
        <input matInput style="border: none;" placeholder="Correo electrónico" formControlName="email" type="email" #email required>
      </mat-form-field>
    </div>

    <button mat-button class="btn white-text teal right" [mat-dialog-close]="true"  [disabled]="formForgotPassword.invalid"  type="submit">Aceptar</button>
    <button mat-button class="btn white-text teal right" id="cancelar" [mat-dialog-close]="true" type="button">Cancelar</button>
  </form>
</div>
