<div class="card col m5">
  <div>
    <form #novedadForm='ngForm'  method="POST" (ngSubmit)="onSubmit(novedadForm)" autocomplete="off" >
      <input type="hidden" name="skey" #skey="ngModel" [(ngModel)]="novedadService.selectNovedad.skey">
      <div class="form-group">
        <input type="text" class="form-control" name="titulo" #titulo= "ngModel"
        [(ngModel)]="novedadService.selectNovedad.titulo" placeholder="Ingrese el título de la novedad">
      </div>

      <div class="form-group">
        <textarea type="text" class="form-control" name="contenido" #contenido="ngModel"
        [(ngModel)]="novedadService.selectNovedad.contenido" placeholder="Ingrese el contenido de la novedad"></textarea>

      </div>


      <mat-form-field [formGroup]="formFile">
        <ngx-mat-file-input formControlName="multiplefile" (change)="importImages($event)" placeholder="Seleccione las imagenes correspondientes" multiple></ngx-mat-file-input>
        <mat-icon matSuffix>folder</mat-icon>
      </mat-form-field>

      <div>
        <button mat-raised-button color="primary" [disabled]="!enableSubmit" class="btn teal waves-white" type="submit">Crear Novedad</button>
      </div>

    </form>
  </div>
</div>

