<form class="row" #graficaForm='ngForm'  method="POST" (ngSubmit)="uploadGrafica(graficaForm)" autocomplete="off" >
  <input type="hidden" name="skey" #skey="ngModel" [(ngModel)]="proyectoService.selectGrafica.skey">
  <div class="form-group col s12">
    <input type="text" class="form-control" name="nombreDeGrafica" #nombreDeGrafica= "ngModel"
    [(ngModel)]="proyectoService.selectGrafica.nombreDeGrafica" placeholder="Ingrese el nombre de la gráfica">
  </div>

  <div class="form-group col s12">
      <input type="text" class="form-control" name="tipoDeGrafica" #tipoDeGrafica= "ngModel"
      [(ngModel)]="proyectoService.selectGrafica.tipoDeGrafica" placeholder="Ingrese el tipo de gráfica">
    </div>

  <div class="form-group col s12">
    <input type="text" class="form-control" name="linkDeLaGrafica" #linkDeLaGrafica= "ngModel"
    [(ngModel)]="proyectoService.selectGrafica.linkDeLaGrafica" placeholder="Ingrese el link de la gráfica">
  </div>

  <div class="container center">
    <button mat-raised-button color="primary" class="btn teal waves-white" type="submit">Añadir gráfica</button>
  </div>

</form>

