<app-panel-de-control></app-panel-de-control>
<div class="row" id="consulta center">
  <div class="col l12 m12 s12 center">
    <mat-form-field id="datePicker">
        <input matInput #datePicker [matDatepicker]="picker" ng-readonly="false" placeholder="Seleccione la fecha a graficar">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button id="btn-graficar" class="center" mat-raised-button color="primary" (click)="queryWeek()" >Graficar</button>
    <button id="btn-exportar" mat-raised-button color="primary" [disabled]="!deteccion" (click)="exportar()">Exportar</button>
  </div>
</div>
<div class="row">
  <div class="col m4 s12">
    <div style="display: block;"  >
      <canvas baseChart
        height="320"
        [datasets]="barChartData1"
        [labels]="barChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors1"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins">
      </canvas>
    </div>
  </div>

  <div class="col m4 s12">
    <div style="display: block;"  >
      <canvas baseChart
        height="320"
        [datasets]="barChartData2"
        [labels]="barChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors2"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins">
      </canvas>
    </div>
  </div>

  <div class="col m4 s12">
    <div style="display: block;"  >
      <canvas baseChart
        height="320"
        [datasets]="barChartData3"
        [labels]="barChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors3"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins">
      </canvas>
    </div>
  </div>

  <div class="col m4 s12">
    <div style="display: block;"  >
      <canvas baseChart
        height="320"
        [datasets]="barChartData4"
        [labels]="barChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors4"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins">
      </canvas>
    </div>
  </div>

  <div class="col m4 s12">
    <div style="display: block;"  >
      <canvas baseChart
        height="320"
        [datasets]="barChartData5"
        [labels]="barChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors5"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins">
      </canvas>
    </div>
  </div>

  <div class="col m4 s12">
    <div style="display: block;"  >
      <canvas baseChart
        height="320"
        [datasets]="barChartData6"
        [labels]="barChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors6"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins">
      </canvas>
    </div>
  </div>
</div>
