<form #formObjetivo='ngForm'  method="POST" (ngSubmit)="onSubmit(formObjetivo)" autocomplete="off">
  <div>
      <input type="hidden" name="skey" #skey="ngModel" [(ngModel)]="semilleroService.selectObjetivo.skey">
  </div>
  <div>
    <textarea type="text" class="form-control" name="objetivo" #objetivo= "ngModel"
    [(ngModel)]="semilleroService.selectObjetivo.objetivo" placeholder="Ingrese un objetivo" required></textarea>
  </div>
  <button mat-raised-button color="primary" [disabled]="!enableObjetivo || !formObjetivo.valid" class="btn right teal waves-white" type="submit">{{ semilleroService.aEObjetivo }}</button>

</form>
<button class="teal boton-flotante" mat-mini-fab (click)="resetForm(formObjetivo)"><i class="white-text material-icons">replay</i></button>

