.input {
  width: 100%;
}

.input > * {
  width: 100%;
}

#form1{
  margin-top: 2px;
}
#boton {
  width: 100%;
  margin-bottom: 10%;

}

#container{
  margin: 0 24%;
}
.input-select{
  width: 100%;
  margin-bottom: 10px;
}

.limpiar > *{
  border: none;
}
.contenido{
  margin: 2% 0;
}

.btn-control{
  width: 120px !important;
}
