<form method="POST" [formGroup]="formSignUp" (ngSubmit)="onSubmit()" class="col s12 m6 offset-m3" autocomplete="off" >
    <div [ngStyle]="{margin:'0 38%'}"
    [ngStyle.xs]="{margin:'0 10%'}"
    [ngStyle.sm]="{margin:'0 24%'}"
    [ngStyle.md]="{margin:'0 30%'}"
    [ngStyle.lg]="{margin:'0 34%'}"
    [ngStyle.xl]="{margin:'0 36%'}" fxLayout="column" fxLayoutAlign="space-around" >
      <div class="input">
          <mat-form-field>
            <input matInput placeholder="Correo electrónico" formControlName="email" type="email" #userName required>
          </mat-form-field>
          <div *ngIf="formSignUp.get('email').errors && formSignUp.get('email').dirty">
            <p class="red-text"  *ngIf="formSignUp.get('email').hasError('required')">Campo obligatorio</p>
            <p class="red-text"  *ngIf="formSignUp.get('email').hasError('email')">Siga la estructura de un correo electrónico, ejemplo: example@example.com</p>
          </div>
      </div>
      <div class="input">
          <mat-form-field>
            <input matInput placeholder="Contraseña" formControlName="password" id="password" type="password" #userPassword required>
          </mat-form-field>
          <div *ngIf="formSignUp.get('password').errors && formSignUp.get('password').dirty">
              <p class="red-text"  *ngIf="formSignUp.get('password').hasError('required')">Campo obligatorio</p>
          </div>
      </div>
      <div class="input">
          <mat-form-field>
            <input matInput placeholder="Confirmar contraseña" formControlName="cpassword" id="cpassword" type="password" required>
          </mat-form-field>
          <div *ngIf="formSignUp.get('cpassword').errors && formSignUp.get('cpassword').dirty">
              <p class="red-text"  *ngIf="formSignUp.get('cpassword').hasError('required')">Campo obligatorio</p>
              <p class="red-text"  *ngIf="formSignUp.get('cpassword').hasError('mustMatch')">Las contraseñas no coinciden</p>
          </div>
      </div>
      <div class="input">
          <mat-form-field>
            <input matInput placeholder="Primer Nombre" formControlName="primerN" id="primerN" type="text" required>
            </mat-form-field>
          <div *ngIf="formSignUp.get('primerN').errors && formSignUp.get('primerN').dirty">
            <p class="red-text"  *ngIf="formSignUp.get('primerN').hasError('required')">Campo obligatorio</p>
          </div>
      </div>

      <div class="input">
        <mat-form-field>
          <input matInput placeholder="Segundo Nombre(Opcional)" formControlName="segundoN"  id="segundoN" type="text" >
        </mat-form-field>
      </div>


    <div class="input">
      <mat-form-field>
        <input matInput placeholder="Primer Apellido" formControlName="primerA" type="text" required>
      </mat-form-field>
      <div *ngIf="formSignUp.get('primerA').errors && formSignUp.get('primerA').dirty">
        <p class="red-text"  *ngIf="formSignUp.get('primerA').hasError('required')">Campo obligatorio</p>
      </div>
    </div>

    <div class="input">
      <mat-form-field>
        <input matInput placeholder="Segundo Nombre(Opcional)" formControlName="segundoA"  id="segundoA" type="text" >
      </mat-form-field>
    </div>

    <mat-form-field class="input-select">
        <mat-label>Tipo de uso</mat-label>
      <mat-select  color="primary"formControlName="tipoDeUso">
        <mat-option *ngFor="let c of countries" [value]="c">{{ c }}</mat-option>
      </mat-select >
    </mat-form-field>

    <div class="input">
      <mat-form-field>
        <input matInput placeholder="Institución" formControlName="institucion" id="institucion" type="text">
      </mat-form-field>
    </div>

    <div class="input">
      <mat-form-field>
        <input matInput placeholder="País" formControlName="pais" id="pais" type="text" required>
      </mat-form-field>
      <div *ngIf="formSignUp.get('pais').errors && formSignUp.get('pais').dirty">
        <p class="red-text"  *ngIf="formSignUp.get('pais').hasError('required')">Campo obligatorio</p>
      </div>
    </div>

    <div class="input">
      <mat-form-field>
        <input matInput placeholder="Departamento" formControlName="departamento" id="departamento" type="text" required>
      </mat-form-field>
      <div *ngIf="formSignUp.get('departamento').errors && formSignUp.get('departamento').dirty">
        <p class="red-text" *ngIf="formSignUp.get('departamento').hasError('required')">Campo obligatorio</p>
      </div>
    </div>

    <div class="input">
      <mat-form-field>
        <input matInput placeholder="Ciudad(*)" formControlName="ciudad" id="ciudad" type="text" required>
      </mat-form-field>
      <div *ngIf="formSignUp.get('ciudad').errors && formSignUp.get('ciudad').dirty">
        <p class="red-text"  *ngIf="formSignUp.get('ciudad').hasError('required')">Campo obligatorio</p>
      </div>
    </div>
    <button id="boton"  mat-raised-button color="primary" [disabled]="formSignUp.invalid" class="btn teal waves-effect waves-light col s6 m6 offset-m3 offset-s3" type="submit" value="Log in">Registrar</button>
  </div>
</form>

