<nav class="nav-extended">
  <div class="nav-background ">
      <div class="pattern active  backgroud-img-nav"></div>
  </div>
  <div class="nav-wrapper container">
    <a class="left logo"><div class="logo-sena"></div></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a class="nav-item" (click)="enviarA(0)">Inicio</a></li>
      <li><a class="nav-item" (click)="enviarA(1)">Proyectos de investigación</a></li>
      <li><a class="nav-item" (click)="enviarA(2)">Semillero de investigación</a></li>
      <li><a class="nav-item" (click)="enviarA(3)"><i class="material-icons large">account_circle</i></a></li>
    </ul>
  </div>
  <div class="nav-header center">
    <h1>INNOVATEC-CTPI</h1>
    <div class="tagline">Línea de investigación en energías renovables y eficiencia energetica</div>
  </div>
</nav>
