<form #formProyectoPeq='ngForm' class="formulario"  method="POST" (ngSubmit)="onSubmit(formProyectoPeq)" autocomplete="off" >
  <input type="hidden" name="skey" #skey="ngModel" [(ngModel)]="proyectoPeqService.selectProyectoPeq.skey">

  <div class="form-group col s12">
    <input type="text" class="form-control" name="nombre" #nombre= "ngModel"
    [(ngModel)]="proyectoPeqService.selectProyectoPeq.nombre" placeholder="Ingrese el nombre del proyecto" required>
  </div>

  <div class="col s12 chips-config">
    <span class="light">Ingrese un(a) integrante(a) y oprima ingresar</span>
    <div class="chips chips-integrantes">
    </div>
  </div>

  <div class="form-group col s12">
    <input type="text" class="form-control" name="programa" #programa= "ngModel"
    [(ngModel)]="proyectoPeqService.selectProyectoPeq.programaDeFormacion" placeholder="Ingrese el programa de formación" required>
  </div>

  <mat-form-field class="col s12" [formGroup]="formFile">
    <ngx-mat-file-input formControlName="multiplefile" (change)="importImages($event)" placeholder="Seleccione las imagenes correspondientes" multiple></ngx-mat-file-input>
    <mat-icon matSuffix>folder</mat-icon>
  </mat-form-field>

  <div class="form-group col s12">
    <textarea type="text" class="form-control" name="colaboraciones" #colaboraciones="ngModel"
    [(ngModel)]="proyectoPeqService.selectProyectoPeq.colaboraciones" placeholder="Ingrese el colaboraciones del proyecto"></textarea>
  </div>
  <button mat-raised-button color="primary" [disabled]="!enableSubmit || !formProyectoPeq.valid" class="btn teal waves-white right boton" type="submit">{{ proyectoPeqService.aEProyecto }}</button>
</form>
<button class="teal boton-flotante" mat-mini-fab (click)="resetForm(formProyectoPeq)"><i class="white-text material-icons">replay</i></button>



