<form class="row" id="formContrasena" method="POST" [formGroup]="formChangePassword" (ngSubmit)="onSubmit()" autocomplete="off" >
  <div>
    <div class="input">
      <mat-form-field>
        <input matInput style="border: none;" placeholder="Contraseña" formControlName="oldPassword" id="oldPassword" type="password" required>
      </mat-form-field>
      <div *ngIf="formChangePassword.get('oldPassword').errors && formChangePassword.get('oldPassword').dirty">
          <p class="red-text"  *ngIf="formChangePassword.get('oldPassword').hasError('required')">Campo obligatorio</p>
      </div>
    </div>
    <div class="input">
      <mat-form-field>
        <input matInput style="border: none;" placeholder="Contraseña" formControlName="newPassword" id="newPassword" type="password" required>
      </mat-form-field>
      <div *ngIf="formChangePassword.get('newPassword').errors && formChangePassword.get('newPassword').dirty">
          <p class="red-text"  *ngIf="formChangePassword.get('newPassword').hasError('required')">Campo obligatorio</p>
      </div>
    </div>
    <div class="input">
      <mat-form-field>
        <input matInput style="border: none;" placeholder="Confirmar contraseña" formControlName="cpassword" id="cpassword" type="password" required>
      </mat-form-field>
      <div *ngIf="formChangePassword.get('cpassword').errors && formChangePassword.get('cpassword').dirty">
          <p class="red-text"  *ngIf="formChangePassword.get('cpassword').hasError('required')">Campo obligatorio</p>
          <p class="red-text"  *ngIf="formChangePassword.get('cpassword').hasError('mustMatch')">Las contraseñas no coinciden</p>
      </div>
    </div>
    <button mat-button class="btn white-text teal right"  [disabled]="formChangePassword.invalid"  type="submit">Cambiar Contraseña</button>
    <button mat-button class="btn white-text teal right" id="cancelar" [mat-dialog-close]="true" type="button">Cancelar</button>
  </div>
</form>
