<form class="row" id="formContrasena" method="POST" [formGroup]="formChangePassword" (ngSubmit)="onSubmit()" autocomplete="off" >
  <div>
    <div class="input">
      <mat-form-field>
        <input matInput style="border: none;" placeholder="Contraseña" formControlName="password" id="password" type="password" #userPassword required>
      </mat-form-field>
      <div *ngIf="formChangePassword.get('password').errors && formChangePassword.get('password').dirty">
          <p class="red-text"  *ngIf="formChangePassword.get('password').hasError('required')">Campo obligatorio</p>
      </div>
    </div>
    <div class="input">
      <mat-form-field>
        <input matInput style="border: none;" placeholder="Confirmar contraseña" formControlName="cpassword" id="cpassword" type="password" required>
      </mat-form-field>
      <div *ngIf="formChangePassword.get('cpassword').errors && formChangePassword.get('cpassword').dirty">
          <p class="red-text"  *ngIf="formChangePassword.get('cpassword').hasError('required')">Campo obligatorio</p>
          <p class="red-text"  *ngIf="formChangePassword.get('cpassword').hasError('mustMatch')">Las contraseñas no coinciden</p>
      </div>
    </div>
  </div>
</form>
