#formContrasena{
  width: 60vw;
}
.input {
  width: 100%;
}

.input > * {
  width: 100%;
}

#form1{
  margin-top: 2px;
}
#boton {
  width: 100%;
  margin-bottom: 10%;

}

.input-select{
  width: 100%;
  margin-bottom: 10px;
}
.limpiar > *{
  border: none;
}
#cancelar{
  margin-right: 10px !important;
}
