<app-panel-de-control></app-panel-de-control>
<div>
  <div class="row">
    <mat-form-field id="selector" class="input-select col m2 offset-m2 s6 offset-s1">
      <mat-label>Gráficas</mat-label>
      <mat-select color="primary">
        <mat-option *ngFor="let c of modos" [value]="c" (click)="mostrarCharts(c)">{{ c }}</mat-option>
      </mat-select >
    </mat-form-field>
  </div>
  <div class="row">
    <div *ngIf="chartsEnables[0];" [ngClass]="{'offset-m3': !chartsEnables[1]}" class="col m6 s12 chart">
      <div style="display: block;"  >
        <canvas baseChart
          height="280"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
        </canvas>
      </div>
      <div class="center">
        <button class="btn-change" mat-raised-button id="btn-humedad" (click)="cambioDeChart(0)">
          Humedad
        </button>
        <button class="btn-change" mat-raised-button id="btn-temperatura" (click)="cambioDeChart(1)">
          Temperatura
        </button>
        <button class="btn-change" mat-raised-button id="btn-irradiancia" (click)="cambioDeChart(2)">
          Irradiancia
        </button>

        <button class="btn-change" mat-raised-button id="btn-corriente" (click)="cambioDeChart(3)">
          Corriente
        </button>

        <button class="btn-change" mat-raised-button id="btn-voltaje" (click)="cambioDeChart(4)">
          Voltaje
        </button>
      </div>
    </div>

    <div *ngIf="chartsEnables[1]" class="col m6 s12 chart">
      <div style="display: block;">
        <canvas baseChart
          height="280"
          [datasets]="lineChartData1"
          [labels]="lineChartLabels1"
          [options]="lineChartOptions"
          [colors]="lineChartColors1"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
        </canvas>
      </div>
      <div class="center">
        <button class="btn-change" mat-raised-button id="btn-humedad" (click)="cambioDeChart1(0)">
          Humedad
        </button>
        <button class="btn-change" mat-raised-button id="btn-temperatura" (click)="cambioDeChart1(1)">
          Temperatura
        </button>
        <button class="btn-change" mat-raised-button id="btn-irradiancia" (click)="cambioDeChart1(2)">
          Irradiancia
        </button>

        <button class="btn-change" mat-raised-button id="btn-corriente" (click)="cambioDeChart1(3)">
          Corriente
        </button>

        <button class="btn-change" mat-raised-button id="btn-voltaje" (click)="cambioDeChart1(4)">
          Voltaje
        </button>
      </div>
    </div>

    <div *ngIf="chartsEnables[2]" class="col m6 s12 chart">
      <div style="display: block;">
        <canvas baseChart
          height="280"
          [datasets]="lineChartData2"
          [labels]="lineChartLabels2"
          [options]="lineChartOptions"
          [colors]="lineChartColors2"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
        </canvas>
      </div>
      <div class="center ">
        <button class="btn-change" mat-raised-button id="btn-humedad" (click)="cambioDeChart2(0)">
          Humedad
        </button>
        <button class="btn-change" mat-raised-button id="btn-temperatura" (click)="cambioDeChart2(1)">
          Temperatura
        </button>
        <button class="btn-change" mat-raised-button id="btn-irradiancia" (click)="cambioDeChart2(2)">
          Irradiancia
        </button>

        <button class="btn-change" mat-raised-button id="btn-corriente" (click)="cambioDeChart2(3)">
          Corriente
        </button>

        <button class="btn-change" mat-raised-button id="btn-voltaje" (click)="cambioDeChart2(4)">
          Voltaje
        </button>
      </div>
    </div>


    <div *ngIf="chartsEnables[3]" class="col m6 s12 chart">
      <div style="display: block;">
        <canvas baseChart
          height="280"
          [datasets]="lineChartData3"
          [labels]="lineChartLabels3"
          [options]="lineChartOptions"
          [colors]="lineChartColors3"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
        </canvas>
      </div>
      <div class="center">
        <button class="btn-change" mat-raised-button id="btn-humedad" (click)="cambioDeChart3(0)">
          Humedad
        </button>
        <button class="btn-change" mat-raised-button id="btn-temperatura" (click)="cambioDeChart3(1)">
          Temperatura
        </button>
        <button class="btn-change" mat-raised-button id="btn-irradiancia" (click)="cambioDeChart3(2)">
          Irradiancia
        </button>

        <button class="btn-change" mat-raised-button id="btn-corriente" (click)="cambioDeChart3(3)">
          Corriente
        </button>

        <button class="btn-change" mat-raised-button id="btn-voltaje" (click)="cambioDeChart3(4)">
          Voltaje
        </button>
      </div>
    </div>
  </div>
</div>
