<div class="red-text text-darken-3" id="contenedor1">
  <table class="centered" id="cabeceraC1">
    <thead>
      <tr>
        <th>Resumen de 3 días</th>
      </tr>
    </thead>
  </table>
  <table id="circuito1">
    <tbody>
      <tr>
        <th>Día</th>
        <td class="purple-text text-darken-1">{{ fechas[0] }}</td>
        <td class="blue-text text-darken-1">{{ fechas[1] }}</td>
        <td class="cyan-text text-darken-1">{{ fechas[2] }}</td>
      </tr>

      <tr>
        <th>Irradiancia Global (W/h)</th>
        <td class="purple-text text-darken-1">{{ irradianciasGlobs[0] }}</td>
        <td class="blue-text text-darken-1">{{ irradianciasGlobs[1] }}</td>
        <td class="cyan-text text-darken-1">{{ irradianciasGlobs[2] }}</td>
      </tr>
      <tr>
        <th>Energía Día (Wh/m²/dia)</th>
        <td class="purple-text text-darken-1">{{ energiasGlobs[0] }}</td>
        <td class="blue-text text-darken-1">{{ energiasGlobs[1] }}</td>
        <td class="cyan-text text-darken-1">{{ energiasGlobs[2] }}</td>
      </tr>

      <tr>
        <th>Horas de Sol (W/dia)</th>
        <td class="purple-text text-darken-1">{{ horasSol[0] }}</td>
        <td class="blue-text text-darken-1">{{ horasSol[1] }}</td>
        <td class="cyan-text text-darken-1">{{ horasSol[2] }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="chart">
  <canvas baseChart
    height="70"
    [data]="pieChartData1"
    [labels]="pieChartLabels"
    [chartType]="pieChartType"
    [options]="pieChartOptions"
    [plugins]="pieChartPlugins"
    [colors]="pieChartColors1"
    [legend]="pieChartLegend">
  </canvas>
</div>
