<ul id="slide-out" class="sidenav">
  <li><div class="user-view">
    <div class="background">
      <img src="images/office.jpg">
    </div>
    <a><img class="circle" src="images/yuna.jpg"></a>
    <a><span class="white-text name"></span></a>
    <a><span class="white-text email"></span></a>
  </div></li>
  <li><a><i class="material-icons">cloud</i>First Link With Icon</a></li>
  <li><a>Second Link</a></li>
  <li><div class="divider"></div></li>
  <li><a class="subheader">Subheader</a></li>
  <li><a class="waves-effect">Third Link With Waves</a></li>
</ul>


<nav>
    <div class="nav-wrapper teal lighten-2">
        <ul class="left hide-on-med-and-down">
            <li data-target="slide-out" class="sidenav-trigger"><a><i class="material-icons">menu</i></a></li>
        </ul>
        <a class="brand-logo center">Innovatec</a>

      </div>
</nav>

<app-real-time-chart></app-real-time-chart>
<app-real-time-eenergias></app-real-time-eenergias>
