<table>
  <tbody class="row">
    <td class="col l4 m12 s12 amber-text text-darken-3 ">
      <table class="centered" id="cabeceraC1">
        <thead>
          <tr>
            <th>Circuito 1</th>
          </tr>
        </thead>
      </table>
      <table id="circuito1">
        <tbody>
          <tr>
            <th>Día</th>
            <td class="pink-text text-lighten-1">{{ fechas[0] }}</td>
            <td class="cyan-text text-darken-3">{{ fechas[1] }}</td>
            <td class="purple-text">{{ fechas[2] }}</td>
          </tr>

          <tr>
            <th>Energía Día (W/día)</th>
            <td class="pink-text text-lighten-1">{{ energiasDias[0] }}</td>
            <td class="cyan-text text-darken-3">{{ energiasDias[1] }}</td>
            <td class="purple-text">{{ energiasDias[2] }}</td>
          </tr>
          <tr>
            <th>Potencia Máxima (W)</th>
            <td class="pink-text text-lighten-1">{{ potenciasMaxs[0] }}</td>
            <td class="cyan-text text-darken-3">{{ potenciasMaxs[1] }}</td>
            <td class="purple-text">{{ potenciasMaxs[2] }}</td>
          </tr>
          <tr>
            <th>Hora de Potencia Máxima</th>
            <td class="pink-text text-lighten-1">{{ horasMaxs[0] }}</td>
            <td class="cyan-text text-darken-3">{{ horasMaxs[1] }}</td>
            <td class="purple-text">{{ horasMaxs[2] }}</td>
          </tr>


          <tr>
            <th>Potencia Mínima (W)</th>
            <td class="pink-text text-lighten-1">{{ potenciasMins[0] }}</td>
            <td class="cyan-text text-darken-3">{{ potenciasMins[1] }}</td>
            <td class="purple-text">{{ potenciasMins[2] }}</td>
          </tr>

          <tr>
            <th>Hora de Potencia Mínima</th>
            <td class="pink-text text-lighten-1">{{ horasMins[0] }}</td>
            <td class="cyan-text text-darken-3">{{ horasMins[1] }}</td>
            <td class="purple-text">{{ horasMins[2] }}</td>
          </tr>
        </tbody>
      </table>
      <div class="chart pieChart col m8 s8 l12 offset-s2 offset-m2">
        <canvas baseChart
          [data]="pieChartData1"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [colors]="pieChartColors1"
          [legend]="pieChartLegend">
        </canvas>
      </div>
    </td>

    <td class="col l4 m12 s12 light-blue-text text-darken-3 center">
      <table class="centered" id="cabeceraC2">
        <thead>
          <tr>
            <th>Circuito 2</th>
          </tr>
        </thead>
      </table>
      <table id="circuito2">
        <tbody>
          <tr>
            <th>Día</th>
            <td class="pink-text text-lighten-1">{{ fechas[0] }}</td>
            <td class="cyan-text text-darken-3">{{ fechas[1] }}</td>
            <td class="purple-text">{{ fechas[2] }}</td>
          </tr>

          <tr>
            <th>Energía Día (W/día)</th>
            <td class="pink-text text-lighten-1">{{ energiasDias[3] }}</td>
            <td class="cyan-text text-darken-3">{{ energiasDias[4] }}</td>
            <td class="purple-text">{{ energiasDias[5] }}</td>
          </tr>
          <tr>
            <th>Potencia Máxima (W)</th>
            <td class="pink-text text-lighten-1">{{ potenciasMaxs[3] }}</td>
            <td class="cyan-text text-darken-3">{{ potenciasMaxs[4] }}</td>
            <td class="purple-text">{{ potenciasMaxs[5] }}</td>
          </tr>
          <tr>
            <th>Hora de Potencia Máxima</th>
            <td class="pink-text text-lighten-1">{{ horasMaxs[3] }}</td>
            <td class="cyan-text text-darken-3">{{ horasMaxs[4] }}</td>
            <td class="purple-text">{{ horasMaxs[5] }}</td>
          </tr>


          <tr>
            <th>Potencia Mínima (W)</th>
            <td class="pink-text text-lighten-1">{{ potenciasMins[3] }}</td>
            <td class="cyan-text text-darken-3">{{ potenciasMins[4] }}</td>
            <td class="purple-text">{{ potenciasMins[5] }}</td>
          </tr>

          <tr>
            <th>Hora de Potencia Mínima</th>
            <td class="pink-text text-lighten-1">{{ horasMins[3] }}</td>
            <td class="cyan-text text-darken-3">{{ horasMins[4] }}</td>
            <td class="purple-text">{{ horasMins[5] }}</td>
          </tr>
        </tbody>
      </table>
      <div class="chart pieChart col m8 s8 l12 offset-s2 offset-m2">
        <canvas baseChart
          [data]="pieChartData2"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [colors]="pieChartColors1"
          [legend]="pieChartLegend">
        </canvas>
      </div>

    </td>
    <td class="col l4 m12 s12 indigo-text text-darken-4 center">
      <table class="centered" id="cabeceraC3">
        <thead>
          <tr>
            <th>Circuito 3</th>
          </tr>
        </thead>
      </table>
      <table id="circuito3">
        <tbody>
          <tr>
            <th>Día</th>
            <td class="pink-text text-lighten-1">{{ fechas[0] }}</td>
            <td class="cyan-text text-darken-3">{{ fechas[1] }}</td>
            <td class="purple-text">{{ fechas[2] }}</td>
          </tr>

          <tr>
            <th>Energía Día (W/día)</th>
            <td class="pink-text text-lighten-1">{{ energiasDias[6] }}</td>
            <td class="cyan-text text-darken-3">{{ energiasDias[7] }}</td>
            <td class="purple-text">{{ energiasDias[8] }}</td>
          </tr>
          <tr>
            <th>Potencia Máxima (W)</th>
            <td class="pink-text text-lighten-1">{{ potenciasMaxs[6] }}</td>
            <td class="cyan-text text-darken-3">{{ potenciasMaxs[7] }}</td>
            <td class="purple-text">{{ potenciasMaxs[8] }}</td>
          </tr>
          <tr>
            <th>Hora de Potencia Máxima</th>
            <td class="pink-text text-lighten-1">{{ horasMaxs[6] }}</td>
            <td class="cyan-text text-darken-3">{{ horasMaxs[7] }}</td>
            <td class="purple-text">{{ horasMaxs[8] }}</td>
          </tr>


          <tr>
            <th>Potencia Mínima (W)</th>
            <td class="pink-text text-lighten-1">{{ potenciasMins[6] }}</td>
            <td class="cyan-text text-darken-3">{{ potenciasMins[7] }}</td>
            <td class="purple-text">{{ potenciasMins[8] }}</td>
          </tr>

          <tr>
            <th>Hora de Potencia Mínima</th>
            <td class="pink-text text-lighten-1">{{ horasMins[6] }}</td>
            <td class="cyan-text text-darken-3">{{ horasMins[7] }}</td>
            <td class="purple-text">{{ horasMins[8] }}</td>
          </tr>
        </tbody>
      </table>
      <div class="chart pieChart col m8 s8 l12 offset-s2 offset-m2">
        <canvas baseChart
          [data]="pieChartData3"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [colors]="pieChartColors1"
          [legend]="pieChartLegend">
        </canvas>
      </div>
    </td>
  </tbody>
</table>
