.responsive-img{
  width: 100% !important;
  height: 250px !important;
}
.contenedor{
  margin-top: 16px;
}
.cursor{
  cursor: pointer;
}
.tamano{
  width: auto !important;
  height: 250px !important;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
